<!-- ABOUT -->
{% load static %}
<section class="section" id="about">
    <div class="container grid">
        <div class="image">
            <img
                    src="{% static 'assets/fotos/02.jpeg' %}"
                    alt="As representantes do projeto"
            />
        </div>
        <div class="text">
            <h2 class="title">Sobre nós</h2>
            <p>
                O Woman For Woman é um projeto de TCC que tem como objetivo principal a distribuição de absorventes
                menstruais para meninas em situação de vulnerabilidade social.
            </p>
            <br/>
            <p>
                Sabemos que absorventes menstruais não são de fácil acesso para muitas mulheres, principalmente aqui na
                capital de São Paulo. De acordo com as estimativas da fundação SEADE (2018) as mulheres representam a
                maior parte da população paulista, estima-se que a população feminina é de 22.583.800, o equivalente a
                51,33% da população total do estado.
            </p>
            <br/>
            <p>
                Em São Paulo, há cerca de 12,2 milhões de habitantes, destes, 24.344 mil são moradores de rua e vivem em
                situação precária. Cerca de 15% a 20% dos residentes em vias públicas são mulheres.
            </p>
        </div>
    </div>
</section>
