{% load static %}
    <section class="section" id="contact">
        <div class="container grid">
            <div class="text">
                <h2 class="title">Entre em contato com a gente!</h2>
                <p>
                    Entre em contato com a WomanforWoman, queremos te ajudar,
                    ouvir sua história.
                </p>
                <a
                        href="https://api.whatsapp.com/send?phone=+5511998456754&text=Oi! Gostaria de agendar um horário"
                        class="button"
                        target="_blank"
                ><i class="icon-whatsapp"></i> Entrar em contato</a
                >
            </div>

            <div class="links">
                <ul class="grid">
                    <li><i class="icon-phone"></i> 11 96694-0852</li>
                    <li><i class="icon-map-pin"></i> R. Amor Eterno</li>
                    <li><i class="icon-mail"></i> sacwfw@gmail.com</li>
                </ul>
            </div>
        </div>
    </section>
