{% extends 'base/base.html' %}

{% block title %} Woman For Woman {% endblock %}

{% block main %}
    <!-- START -->
    {% include 'base/start_section.html' %}

    <div class="divider-1"></div>

    <!-- ABOUT -->
    {% include 'base/about_section.html' %}

    <div class="divider-2"></div>

    <!-- SERVICES -->
    {% include 'base/services_section.html' %}

    <div class="divider-1"></div>

    <!-- TESTIMONIALS -->
    {% include 'base/testimonials_section.html' %}

    <div class="divider-2"></div>

    <!-- CONTACT -->
    {% include 'base/contact_section.html' %}

{% endblock%}