<section class="section" id="start">
    <div class="container grid">
        <div class="image">
            <img
                    src="static/assets/fotos/01.jpeg"
                    alt="As representantes do projeto"
            />
        </div>
        <div class="text ">
            <h2 class="title">A pobreza menstrual é real</h2>
            <p>
                Trabalhamos pela saúde e bem estar de pessoas em situação de vulnerabilidade social.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Necessitatibus deleniti perferendis vel molestiae soluta, quaerat
                beatae dicta ducimus praesentium architecto harum dolorum
                distinctio illo earum assumenda itaque. Omnis, quam repellat.
            </p>
            <br/>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure
                illum ratione impedit quae eum quis adipisci asperiores, est
                doloribus distinctio excepturi minima eius dolore! Perferendis
                laborum illo aspernatur repellendus ipsum.
            </p>
            <br/>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed
                exercitationem, illum sapiente quasi hic iusto odio maiores esse
                quaerat quis necessitatibus at odit, dolores dicta, officia ab
                quos. Provident, quae.
            </p>
            <a class="button" href="#">Saiba mais</a>
        </div>

    </div>
</section>