    <section class="section" id="testimonials">
        <div class="container">
            <header>
                <h2 class="title">Depoimentos de quem já passou por aqui</h2>
            </header>
            <div class="testimonials swiper-container">
                <div class="swiper-wrapper">
                    <div class="testimonial swiper-slide">
                        <blockquote>
                            <p>
                                <span>&ldquo;</span>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Rerum blanditiis saepe nam excepturi explicabo ipsa error
                                ipsam neque
                            </p>
                            <cite>
                                <img
                                        src="static/assets/fotos/04.jpeg"
                                        alt="Foto de Wanessa Souza"
                                />
                                Wanessa Souza
                            </cite>
                        </blockquote>
                    </div>

                    <div class="testimonial swiper-slide">
                        <blockquote>
                            <p>
                                <span>&ldquo;</span>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Rerum blanditiis saepe nam excepturi explicabo ipsa error
                                ipsam neque
                            </p>
                            <cite>
                                <img
                                        src="static/assets/fotos/05.jpeg"
                                        alt="Foto de Franciele Venega"
                                />
                                Franciele Venega
                            </cite>
                        </blockquote>
                    </div>

                    <div class="testimonial swiper-slide">
                        <blockquote>
                            <p>
                                <span>&ldquo;</span>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Rerum blanditiis saepe nam excepturi explicabo ipsa error
                                ipsam neque
                            </p>
                            <cite>
                                <img
                                        src="static/assets/fotos/06.jpeg"
                                        alt="Fotos de Valeska Fabris"
                                />
                                Valeska Fabris
                            </cite>
                        </blockquote>
                    </div>
                </div>

                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
