 {% extends 'base/base.html' %}

{% block title %} Depoimentos {% endblock %}

{% block main %}
<section class="section" id="testimonials">
    <div class="container">
        <header>
            <h2 class="title">Depoimentos de quem já passou por aqui</h2>
        </header>
        <div class="testimonials swiper-container">
            <div class="swiper-wrapper">
                {% for depoimento in depoimentos %}
                <div class="testimonial swiper-slide">
                    <blockquote>
                        <p>
                            <span>&ldquo;</span>
                            {{ depoimento.texto}}
                            <span>&ldquo;</span>
                        </p>
                        <cite>
                            <img
                                    src="static/assets/fotos/04.jpeg"
                                    alt="Foto de Wanessa Souza"
                            />
                            Wanessa Souza
                        </cite>
                    </blockquote>
                </div>
                {% endfor %}
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>


{% endblock%}
