[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
python-decouple = "*"
psycopg2-binary = "*"
pillow = "*"
collectfast = "*"
django = "*"
dj-database-url = "*"
django-ordered-model = "*"
django-debug-toolbar = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.9"
#
