    <section class="section" id="services">
        <div class="container grid">
            <header>
                <h2 class="title">Serviços</h2>
                <p>
                    A <strong>WomanforWoman</strong> disponibiliza vários serviços para ajudar a pessoa...
                </p>
            </header>
            <div class="cards grid">
                <div class="card">
                    <i class=""></i>
                    <h3 class="title">Como Doar</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
                        distinctio neque blanditiis, dolorem aperiam nulla explicabo
                        asperiores
                    </p>
                </div>
                <div class="card">
                    <i class=""></i>
                    <h3 class="title">Kits de Higiene</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
                        distinctio neque blanditiis, dolorem aperiam nulla explicabo
                        asperiores
                    </p>
                </div>
                <div class="card">
                    <i class=""></i>
                    <h3 class="title">Pontos de Coleta</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
                        distinctio neque blanditiis, dolorem aperiam nulla explicabo
                        asperiores
                    </p>
                </div>
            </div>
        </div>
    </section>
